!!! 5
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
%html.no-js 
  <!--<![endif]-->
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    / Use title if it's in the page YAML frontmatter 
    %title= current_page.data.title || "Jeff Jacobson-Swartfager"
    %meta{ name: 'description', content: current_page.data.description || 'Web design and development in Portland, Oregon' }
    %meta{ name: 'viewport',    content: 'width=device-width' }

    / Place favicon.ico and apple-touch-icon.png in the root directory 

    %link{ rel: 'stylesheet', href: '/css/base.css' }

    - if build? == false
      %link{ rel: 'stylesheet', href: 'http://basehold.it/24' }

    %script{ src: '/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' }
    -# Only load google analytics if on the build environment
    - if build?
      %script{ src: '/js/vendor/analytics.js' }

    -# load typekit
    :javascript
      (function(d) {
        var config = {
          kitId: 'zwp3sky',
          scriptTimeout: 3000
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

    %script{ src: 'http://d3js.org/d3.v3.min.js' }

    - if page_classes != "blog blog_index" && page_classes != "work work_index"
      - if !page_classes.include? "blog_index"
        %body{ class: page_classes, itemscope: true, itemType: "http://schema.org/BlogPosting" }
      - else
        %body{ class: page_classes }
    - else
      %body
    /[if lt IE 7]
      %p.chromeframe
        You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade 
        your browser today</a> or 
        <a href="http://www.google.com/chromeframe/?redirect=true">install Google 
        Chrome Frame</a> to better experience this site.</p>

    .header-container
      %header.wrapper.clearfix
        %h1.title 
          %a{ href: '/', title: 'home' } Jeff Jacobson-Swartfager
        %nav
          %ul
            %li= link_to 'Blog',  '/blog'
            %li= link_to 'Work',  '/work'
            %li= link_to 'About', '/about'

    .main-container
      .main.wrapper.clearfix

        %article 
          = yield 

        %aside
          %h3 Jeff on the Web
          %ul.social_list
            %li
              %a.twitter.icon{ href: 'https://twitter.com/changecase', title: 'twitter' }
            %li
              %a.linkedin.icon{ href: 'https://www.linkedin.com/in/changecase', title: 'linkedin' }
            %li
              - if page_classes.include? "blog"
                %a.googleplus.icon{ href: 'https://plus.google.com/117625331179664688155?rel=author' }
              - else
                %a.googleplus.icon{ href: 'https://plus.google.com/117625331179664688155/posts' }
            %li
              %a.github.icon{ href: 'https://github.com/changecase' }
            %li
              %a.foursquare.icon{ href: 'https://foursquare.com/user/1616439' }
            %li
              %a.instagram.icon{ href: 'http://instagram.com/jeff_ja' }
            %li
              %a.flickr.icon{ href: 'https://www.flickr.com/photos/changecase' }

    .footer-container
      %footer.wrapper
        %h3 Jeff Jacobson-Swartfager &copy; #{Date.today.year.to_s}

    %script{ src: '//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js' }
    %script
      window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')

    %script{ src: '/js/main.js' }
