<% if defined?(form) && !form.empty? %>
  <% form_tag '#', name: form[:name], class: "sharepoint-tile-settings" do %>

    <% if form.has_key?(:background_color) && !form[:background_color].empty? %>
      <%= label_tag "#{form[:name]}_InputBgColor", caption: form[:background_color][:label] %>
      <%= input_tag :color, name: "bgcolor", id: "#{form[:name]}_InputBgColor", 
        value: form[:background_color][:color], 
        oninput: "sharepointTile.backgroundColor(bgcolor.value)" %>
    <% end %>

    <% if tile.has_key?(:content) && tile[:content] %>
      <% field_set_tag do %>
        <%= label_tag "#{form[:name]}_InputTileTitle", caption: "Title" %>
        <%= text_field_tag :tileTitle,  id: "#{form[:name]}_InputTileTitle", 
          placeholder: "Enter title", 
          oninput: "sharepointTile.header(tileTitle.value)" %>
      <% end %>
      <% field_set_tag do %>
        <%= label_tag "#{form[:name]}_InputTileDescription", caption: "Description" %>
        <%= text_area_tag :tileDescription, id: "#{form[:name]}_InputTileDescription", 
          rows: 3, oninput: "sharepointTile.description(tileDescription.value)" %>
      <% end %>
    <% end %>

  <% end %>
<% end %>

<div class="sharepoint-tile">
  <%= image_tag url_for(tile[:image_url]), class: "sample-tile" %>
  <% if tile.has_key?(:content) && tile[:content] %>
    <div class="tile-content">
      <h4 class="tile-title"></h4>
      <p  class="tile-description"></p>
    </div>
  <% end %>
</div>
