---
pageable: true
title: blog
title_image: my_stuff.min.jpg
per_page: 10
blog: blog
alias: 
  - blog.html
  - journal.html
  - posts/
  - journal_apr09.html
  - journal/2009/05/12_narrowed_to_one_concept.html
change_frequency: weekly
---

<h1>Blog</h1>
- if paginate && num_pages > 1 
  <p>Page #{ page_number } of #{ num_pages }</p>

  - if prev_page
    <p>#{ link_to 'Previous page', prev_page }</p>

- page_articles.each_with_index do |article, i| 
  <section>
  <h2>#{ link_to article.title, article } <span>#{ article.date.strftime('%b %e') }</span></h2>
  -#
    use article.summary(250) if you have Nokogiri available to show just
    the first 250 characters
  = article.summary(250) 
  </section>

- if paginate 
  - if next_page 
    <p>#{ link_to 'Next page', next_page }</p>
