---
title: Jeff Jacobson-Swartfager
alias:
  - rss.xml
change_frequency: weekly
---

- article = blog('blog').articles[0]
- click_text = article.data.cta_text ? article.data.cta_text : 'Read more' 

%section.featured{ 'data-image' => image_path(article.data.title_image) }
  -# Put featured content (slideshow?) here
  .callout
    %header
      %h1= article.title
      = link_to click_text, article.url, class: "cta"

%ul.feat
  %li
    = link_to 'Blog', '/blog',  class: "feat-icon blog"
  %li
    = link_to 'Work', '/work',  class: "feat-icon work"
  %li
    = link_to 'About', '/about', class: "feat-icon about"
