---
pageable: true
title: work
per_page: 10
blog: work
alias: 
  - art.html
  - art/illus.html
  - art/photo.html
  - art/photo_rss.xml
  - art/print.html
  - art/seq.html
  - design.html
  - design/print/pages/
  - design/print/pages/print_027.html
  - img/art/
  - img/art/about.html
  - img/art/art.html
  - img/art/design.html
  - img/art/design/products/pages/
  - img/art/design/products/pages/product_002.html
  - img/art/illus/
  - img/art/illus/illustration/pages/illus_001.html
  - img/art/illus/illustration/pages/illus_002.html
  - img/art/illus/illustration/pages/illus_003.html
  - img/art/illus/illustration/pages/illus_004.html
  - img/art/illus/illustration/pages/illus_005.html
  - img/art/illus/illustration/pages/illus_006.html
  - img/art/illus/illustration/pages/illus_007.html
  - img/art/illus/photo.html
  - img/art/illus/print.html
  - img/art/illus/seq.html
  - img/art/illus/sketch.html
  - img/art/illustration/
  - img/art/illustration/illus.html
  - img/art/illustration/pages/illus_001/illus_002.html
  - img/art/illustration/pages/illus_002/illus_001.html
  - img/art/illustration/pages/illus_002/illus_003.html
  - img/art/illustration/pages/illus_003/illus_002.html
  - img/art/illustration/pages/illus_003/illus_004.html
  - img/art/illustration/pages/illus_004/illus_003.html
  - img/art/illustration/pages/illus_004/illus_005.html
  - img/art/illustration/pages/illus_005/illus_004.html
  - img/art/illustration/pages/illus_005/illus_006.html
  - img/art/illustration/pages/illus_006/illus_005.html
  - img/art/illustration/pages/illus_006/illus_007.html
  - img/art/illustration/pages/illus_007/illus_006.html
  - img/art/illustration/photo.html
  - img/art/illustration/print.html
  - img/art/illustration/seq.html
  - img/art/index.html
  - img/art/journal.html
  - img/art/photo/illus.html
  - img/art/photo/photo_rss.xml
  - img/art/photo/photography/pages/photo_001.html
  - img/art/photo/photography/pages/photo_002.html
  - img/art/photo/photography/pages/photo_003.html
  - img/art/photo/photography/pages/photo_004.html
  - img/art/photo/photography/pages/photo_005.html
  - img/art/photo/photography/pages/photo_006.html
  - img/art/photo/photography/pages/photo_007.html
  - img/art/photo/photography/pages/photo_008.html
  - img/art/photo/photography/pages/photo_009.html
  - img/art/photo/photography/pages/photo_010.html
  - img/art/photo/photography/pages/photo_011.html
  - img/art/photo/photography/pages/photo_012.html
  - img/art/photo/photography/pages/photo_013.html
  - img/art/photo/photography/pages/photo_014.html
  - img/art/photo/photography/pages/photo_015.html
  - img/art/photo/photography/pages/photo_016.html
  - img/art/photo/photography/pages/photo_017.html
  - img/art/photo/photography/pages/photo_018.html
  - img/art/photo/photography/pages/photo_019.html
  - img/art/photo/photography/pages/photo_020.html
  - img/art/photo/photography/pages/photo_021.html
  - img/art/photo/photography/pages/photo_022.html
  - img/art/photo/photography/pages/photo_023.html
  - img/art/photo/photography/pages/photo_024.html
  - img/art/photo/photography/pages/photo_025.html
  - img/art/photo/photography/pages/photo_026.html
  - img/art/photo/print.html
  - img/art/photo/seq.html
  - img/art/photography/illus.html
  - img/art/photography/pages/photo_001/photo_002.html
  - img/art/photography/pages/photo_002/
  - img/art/photography/pages/photo_002/photo_001.html
  - img/art/photography/pages/photo_002/photo_003.html
  - img/art/photography/pages/photo_003/photo_002.html
  - img/art/photography/pages/photo_003/photo_004.html
  - img/art/photography/pages/photo_004/photo_003.html
  - img/art/photography/pages/photo_004/photo_005.html
  - img/art/photography/pages/photo_006/photo_005.html
  - img/art/photography/pages/photo_006/photo_007.html
  - img/art/photography/pages/photo_007/
  - img/art/photography/pages/photo_007/photo_006.html
  - img/art/photography/pages/photo_007/photo_008.html
  - img/art/photography/pages/photo_008/photo_007.html
  - img/art/photography/pages/photo_008/photo_009.html
  - img/art/photography/pages/photo_009/photo_008.html
  - img/art/photography/pages/photo_009/photo_010.html
  - img/art/photography/pages/photo_010/photo_009.html
  - img/art/photography/pages/photo_010/photo_011.html
  - img/art/photography/pages/photo_011/photo_010.html
  - img/art/photography/pages/photo_011/photo_012.html
  - img/art/photography/pages/photo_012/photo_011.html
  - img/art/photography/pages/photo_012/photo_013.html
  - img/art/photography/pages/photo_013/photo_012.html
  - img/art/photography/pages/photo_013/photo_014.html
  - img/art/photography/pages/photo_014/
  - img/art/photography/pages/photo_014/photo_013.html
  - img/art/photography/pages/photo_014/photo_015.html
  - img/art/photography/pages/photo_015/photo_014.html
  - img/art/photography/pages/photo_015/photo_016.html
  - img/art/photography/pages/photo_016/photo_015.html
  - img/art/photography/pages/photo_016/photo_017.html
  - img/art/photography/pages/photo_017/photo_016.html
  - img/art/photography/pages/photo_017/photo_018.html
  - img/art/photography/pages/photo_018/photo_017.html
  - img/art/photography/pages/photo_018/photo_019.html
  - img/art/photography/pages/photo_019/photo_018.html
  - img/art/photography/pages/photo_019/photo_020.html
  - img/art/photography/pages/photo_020/photo_019.html
  - img/art/photography/pages/photo_020/photo_021.html
  - img/art/photography/pages/photo_021/photo_020.html
  - img/art/photography/pages/photo_021/photo_022.html
  - img/art/photography/pages/photo_022/photo_021.html
  - img/art/photography/pages/photo_022/photo_023.html
  - img/art/photography/pages/photo_023/photo_022.html
  - img/art/photography/pages/photo_023/photo_024.html
  - img/art/photography/pages/photo_024/photo_025.html
  - img/art/photography/pages/photo_025/photo_024.html
  - img/art/photography/pages/photo_025/photo_026.html
  - img/art/photography/pages/photo_026/photo_025.html
  - img/art/photography/photo.html
  - img/art/photography/photography/pages/photo_003.html
  - img/art/photography/photography/pages/photo_004.html
  - img/art/photography/photography/pages/photo_005.html
  - img/art/photography/photography/pages/photo_006.html
  - img/art/photography/photography/pages/photo_007.html
  - img/art/photography/photography/pages/photo_008.html
  - img/art/photography/photography/pages/photo_009.html
  - img/art/photography/photography/pages/photo_010.html
  - img/art/photography/photography/pages/photo_011.html
  - img/art/photography/photography/pages/photo_012.html
  - img/art/photography/photography/pages/photo_013.html
  - img/art/photography/photography/pages/photo_014.html
  - img/art/photography/photography/pages/photo_015.html
  - img/art/photography/photography/pages/photo_016.html
  - img/art/photography/photography/pages/photo_017.html
  - img/art/photography/photography/pages/photo_018.html
  - img/art/photography/photography/pages/photo_019.html
  - img/art/photography/photography/pages/photo_020.html
  - img/art/photography/photography/pages/photo_021.html
  - img/art/photography/photography/pages/photo_022.html
  - img/art/photography/photography/pages/photo_023.html
  - img/art/photography/photography/pages/photo_024.html
  - img/art/photography/photography/pages/photo_025.html
  - img/art/photography/photography/pages/photo_026.html
  - img/art/photography/print.html
  - img/art/photography/seq.html
  - img/art/photography/sketch.html
  - img/art/portfolio.html
  - img/art/print/illus.html
  - img/art/print/photo.html
  - img/art/print/printmaking/pages/print_001.html
  - img/art/print/printmaking/pages/print_002.html
  - img/art/print/printmaking/pages/print_003.html
  - img/art/print/printmaking/pages/print_004.html
  - img/art/print/printmaking/pages/print_005.html
  - img/art/print/seq.html
  - img/art/printmaking/illus.html
  - img/art/printmaking/pages/print_001/print_002.html
  - img/art/printmaking/pages/print_002/print_001.html
  - img/art/printmaking/pages/print_002/print_003.html
  - img/art/printmaking/pages/print_003/print_002.html
  - img/art/printmaking/pages/print_003/print_004.html
  - img/art/printmaking/pages/print_004/print_003.html
  - img/art/printmaking/pages/print_004/print_005.html
  - img/art/printmaking/pages/print_005/print_004.html
  - img/art/printmaking/photo.html
  - img/art/printmaking/seq.html
  - img/art/printmaking/sketch.html
  - img/art/projects.html
  - img/art/sektch/pages/sketch_032/sketch_033.html
  - img/art/seq/illus.html
  - img/art/seq/photo.html
  - img/art/seq/print.html
  - img/art/seq/sequential/pages/seq_001.html
  - img/art/seq/sequential/pages/seq_002.html
  - img/art/seq/sequential/pages/seq_003.html
  - img/art/seq/sequential/pages/seq_004.html
  - img/art/seq/sequential/pages/seq_005.html
  - img/art/seq/sequential/pages/seq_006.html
  - img/art/seq/sequential/pages/seq_007.html
  - img/art/seq/sequential/pages/seq_008.html
  - img/art/seq/sequential/pages/seq_009.html
  - img/art/seq/sequential/pages/seq_010.html
  - img/art/seq/sequential/pages/seq_011.html
  - img/art/seq/sequential/pages/seq_012.html
  - img/art/seq/sequential/pages/seq_013.html
  - img/art/seq/sequential/pages/seq_014.html
  - img/art/seq/sequential/pages/seq_015.html
  - img/art/seq/sequential/pages/seq_016.html
  - img/art/sequential/illus.html
  - img/art/sequential/pages/seq_001/seq_002.html
  - img/art/sequential/pages/seq_002/seq_001.html
  - img/art/sequential/pages/seq_002/seq_003.html
  - img/art/sequential/pages/seq_003/seq_001.html
  - img/art/sequential/pages/seq_003/seq_002.html
  - img/art/sequential/pages/seq_003/seq_004.html
  - img/art/sequential/pages/seq_004/seq_003.html
  - img/art/sequential/pages/seq_004/seq_005.html
  - img/art/sequential/pages/seq_005/seq_004.html
  - img/art/sequential/pages/seq_005/seq_006.html
  - img/art/sequential/pages/seq_006/seq_005.html
  - img/art/sequential/pages/seq_006/seq_007.html
  - img/art/sequential/pages/seq_007/seq_006.html
  - img/art/sequential/pages/seq_007/seq_008.html
  - img/art/sequential/pages/seq_008/seq_007.html
  - img/art/sequential/pages/seq_008/seq_009.html
  - img/art/sequential/pages/seq_009/seq_008.html
  - img/art/sequential/pages/seq_009/seq_010.html
  - img/art/sequential/pages/seq_010/seq_009.html
  - img/art/sequential/pages/seq_010/seq_011.html
  - img/art/sequential/pages/seq_011/seq_010.html
  - img/art/sequential/pages/seq_011/seq_011.html
  - img/art/sequential/pages/seq_011/seq_012.html
  - img/art/sequential/pages/seq_012/seq_011.html
  - img/art/sequential/pages/seq_012/seq_013.html
  - img/art/sequential/pages/seq_013/seq_012.html
  - img/art/sequential/pages/seq_013/seq_014.html
  - img/art/sequential/pages/seq_014/seq_013.html
  - img/art/sequential/pages/seq_014/seq_015.html
  - img/art/sequential/pages/seq_015/seq_014.html
  - img/art/sequential/pages/seq_015/seq_016.html
  - img/art/sequential/pages/seq_016/seq_015.html
  - img/art/sequential/photo.html
  - img/art/sequential/print.html
  - img/art/sequential/seq.html
  - img/art/sequential/sketch.html
  - img/art/sketch/illus.html
  - img/art/sketch/pages/sketch_001/sketch_002.html
  - img/art/sketch/pages/sketch_002/sketch_001.html
  - img/art/sketch/pages/sketch_002/sketch_003.html
  - img/art/sketch/pages/sketch_003/sketch_002.html
  - img/art/sketch/pages/sketch_003/sketch_004.html
  - img/art/sketch/pages/sketch_004/sketch_003.html
  - img/art/sketch/pages/sketch_004/sketch_005.html
  - img/art/sketch/pages/sketch_005/sketch_004.html
  - img/art/sketch/pages/sketch_005/sketch_006.html
  - img/art/sketch/pages/sketch_006/sketch_005.html
  - img/art/sketch/pages/sketch_006/sketch_007.html
  - img/art/sketch/pages/sketch_007/sketch_006.html
  - img/art/sketch/pages/sketch_007/sketch_008.html
  - img/art/sketch/pages/sketch_008/sketch_007.html
  - img/art/sketch/pages/sketch_008/sketch_009.html
  - img/art/sketch/pages/sketch_009/sketch_008.html
  - img/art/sketch/pages/sketch_009/sketch_010.html
  - img/art/sketch/pages/sketch_011/sketch_010.html
  - img/art/sketch/pages/sketch_011/sketch_012.html
  - img/art/sketch/pages/sketch_012/sketch_011.html
  - img/art/sketch/pages/sketch_012/sketch_013.html
  - img/art/sketch/pages/sketch_013/sketch_012.html
  - img/art/sketch/pages/sketch_013/sketch_014.html
  - img/art/sketch/pages/sketch_014/sketch_013.html
  - img/art/sketch/pages/sketch_014/sketch_015.html
  - img/art/sketch/pages/sketch_015/sketch_014.html
  - img/art/sketch/pages/sketch_015/sketch_016.html
  - img/art/sketch/pages/sketch_016/sketch_015.html
  - img/art/sketch/pages/sketch_016/sketch_017.html
  - img/art/sketch/pages/sketch_017/sketch_016.html
  - img/art/sketch/pages/sketch_017/sketch_018.html
  - img/art/sketch/pages/sketch_018/sketch_017.html
  - img/art/sketch/pages/sketch_019/sketch_018.html
  - img/art/sketch/pages/sketch_019/sketch_020.html
  - img/art/sketch/pages/sketch_020/sketch_019.html
  - img/art/sketch/pages/sketch_020/sketch_021.html
  - img/art/sketch/pages/sketch_021/
  - img/art/sketch/pages/sketch_021/sketch_020.html
  - img/art/sketch/pages/sketch_021/sketch_022.html
  - img/art/sketch/pages/sketch_022/sketch_021.html
  - img/art/sketch/pages/sketch_022/sketch_023.html
  - img/art/sketch/pages/sketch_022/sketch_21.html
  - img/art/sketch/pages/sketch_022/sketch_23.html
  - img/art/sketch/pages/sketch_023/sketch_022.html
  - img/art/sketch/pages/sketch_023/sketch_024.html
  - img/art/sketch/pages/sketch_024/sketch_025.html
  - img/art/sketch/pages/sketch_025/sketch_024.html
  - img/art/sketch/pages/sketch_025/sketch_026.html
  - img/art/sketch/pages/sketch_026/sketch_025.html
  - img/art/sketch/pages/sketch_026/sketch_027.html
  - img/art/sketch/pages/sketch_027/sketch_026.html
  - img/art/sketch/pages/sketch_027/sketch_028.html
  - img/art/sketch/pages/sketch_028/sketch_027.html
  - img/art/sketch/pages/sketch_028/sketch_029.html
  - img/art/sketch/pages/sketch_028/sketch_27.html
  - img/art/sketch/pages/sketch_029/sketch_028.html
  - img/art/sketch/pages/sketch_029/sketch_030.html
  - img/art/sketch/pages/sketch_030/sketch_029.html
  - img/art/sketch/pages/sketch_030/sketch_031.html
  - img/art/sketch/pages/sketch_031/
  - img/art/sketch/pages/sketch_031/sketch_030.html
  - img/art/sketch/pages/sketch_031/sketch_032.html
  - img/art/sketch/pages/sketch_032/sketch_031.html
  - img/art/sketch/pages/sketch_032/sketch_033.html
  - img/art/sketch/pages/sketch_033/sketch_032.html
  - img/art/sketch/pages/sketch_033/sketch_034.html
  - img/art/sketch/pages/sketch_034/sketch_033.html
  - img/art/sketch/pages/sketch_034/sketch_035.html
  - img/art/sketch/pages/sketch_035/sketch_034.html
  - img/art/sketch/pages/sketch_035/sketch_036.html
  - img/art/sketch/pages/sketch_036/sketch_035.html
  - img/art/sketch/pages/sketch_036/sketch_037.html
  - img/art/sketch/pages/sketch_037/sketch_036.html
  - img/art/sketch/pages/sketch_037/sketch_038.html
  - img/art/sketch/pages/sketch_038/sketch_037.html
  - img/art/sketch/pages/sketch_038/sketch_039.html
  - img/art/sketch/pages/sketch_039/
  - img/art/sketch/pages/sketch_039/sketch_038.html
  - img/art/sketch/pages/sketch_039/sketch_040.html
  - img/art/sketch/pages/sketch_040/sketch_039.html
  - img/art/sketch/pages/sketch_040/sketch_041.html
  - img/art/sketch/pages/sketch_041/sketch_040.html
  - img/art/sketch/pages/sketch_041/sketch_042.html
  - img/art/sketch/pages/sketch_042/sketch_041.html
  - img/art/sketch/pages/sketch_042/sketch_043.html
  - img/art/sketch/pages/sketch_043/sketch_042.html
  - img/art/sketch/pages/sketch_043/sketch_044.html
  - img/art/sketch/pages/sketch_044/sketch_043.html
  - img/art/sketch/pages/sketch_044/sketch_045.html
  - img/art/sketch/pages/sketch_045/sketch_044.html
  - img/art/sketch/pages/sketch_045/sketch_046.html
  - img/art/sketch/pages/sketch_046/sketch_045.html
  - img/art/sketch/pages/sketch_046/sketch_047.html
  - img/art/sketch/pages/sketch_047/sketch_046.html
  - img/art/sketch/pages/sketch_047/sketch_048.html
  - img/art/sketch/pages/sketch_048/
  - img/art/sketch/pages/sketch_048/sketch_047.html
  - img/art/sketch/pages/sketch_048/sketch_049.html
  - img/art/sketch/pages/sketch_049/sketch_048.html
  - img/art/sketch/pages/sketch_049/sketch_050.html
  - img/art/sketch/pages/sketch_050/sketch_049.html
  - img/art/sketch/pages/sketch_050/sketch_051.html
  - img/art/sketch/pages/sketch_051/sketch_050.html
  - img/art/sketch/pages/sketch_051/sketch_052.html
  - img/art/sketch/pages/sketch_052/sketch_051.html
  - img/art/sketch/pages/sketch_052/sketch_053.html
  - img/art/sketch/pages/sketch_053/sketch_052.html
  - img/art/sketch/pages/sketch_053/sketch_054.html
  - img/art/sketch/pages/sketch_054/sketch_053.html
  - img/art/sketch/pages/sketch_054/sketch_055.html
  - img/art/sketch/pages/sketch_055/sketch_054.html
  - img/art/sketch/pages/sketch_055/sketch_056.html
  - img/art/sketch/pages/sketch_056/sketch_055.html
  - img/art/sketch/pages/sketch_056/sketch_057.html
  - img/art/sketch/pages/sketch_057/sketch_056.html
  - img/art/sketch/pages/sketch_057/sketch_058.html
  - img/art/sketch/pages/sketch_058/sketch_057.html
  - img/art/sketch/pages/sketch_058/sketch_059.html
  - img/art/sketch/pages/sketch_059/sketch_058.html
  - img/art/sketch/pages/sketch_059/sketch_060.html
  - img/art/sketch/pages/sketch_060/sketch_059.html
  - img/art/sketch/pages/sketch_060/sketch_061.html
  - img/art/sketch/pages/sketch_061/sketch_060.html
  - img/art/sketch/pages/sketch_061/sketch_062.html
  - img/art/sketch/pages/sketch_062/sketch_061.html
  - img/art/sketch/pages/sketch_062/sketch_063.html
  - img/art/sketch/pages/sketch_063/sketch_062.html
  - img/art/sketch/pages/sketch_063/sketch_064.html
  - img/art/sketch/pages/sketch_064/sketch_063.html
  - img/art/sketch/pages/sketch_064/sketch_065.html
  - img/art/sketch/pages/sketch_064/sketch_63.html
  - img/art/sketch/pages/sketch_065/sketch_064.html
  - img/art/sketch/pages/sketch_065/sketch_066.html
  - img/art/sketch/pages/sketch_066/sketch_065.html
  - img/art/sketch/photo.html
  - img/art/sketch/print.html
  - img/art/sketch/seq.html
  - img/art/sketch/sketch.html
  - img/art/sketch/sketch/pages/sketch_001.html
  - img/art/sketch/sketch/pages/sketch_002.html
  - img/art/sketch/sketch/pages/sketch_003.html
  - img/art/sketch/sketch/pages/sketch_004.html
  - img/art/sketch/sketch/pages/sketch_005.html
  - img/art/sketch/sketch/pages/sketch_006.html
  - img/art/sketch/sketch/pages/sketch_007.html
  - img/art/sketch/sketch/pages/sketch_008.html
  - img/art/sketch/sketch/pages/sketch_009.html
  - img/art/sketch/sketch/pages/sketch_010.html
  - img/art/sketch/sketch/pages/sketch_011.html
  - img/art/sketch/sketch/pages/sketch_012.html
  - img/art/sketch/sketch/pages/sketch_013.html
  - img/art/sketch/sketch/pages/sketch_014.html
  - img/art/sketch/sketch/pages/sketch_015.html
  - img/art/sketch/sketch/pages/sketch_016.html
  - img/art/sketch/sketch/pages/sketch_017.html
  - img/art/sketch/sketch/pages/sketch_018.html
  - img/art/sketch/sketch/pages/sketch_019.html
  - img/art/sketch/sketch/pages/sketch_020.html
  - img/art/sketch/sketch/pages/sketch_021.html
  - img/art/sketch/sketch/pages/sketch_022.html
  - img/art/sketch/sketch/pages/sketch_023.html
  - img/art/sketch/sketch/pages/sketch_024.html
  - img/art/sketch/sketch/pages/sketch_025.html
  - img/art/sketch/sketch/pages/sketch_026.html
  - img/art/sketch/sketch/pages/sketch_027.html
  - img/art/sketch/sketch/pages/sketch_028.html
  - img/art/sketch/sketch/pages/sketch_029.html
  - img/art/sketch/sketch/pages/sketch_030.html
  - img/art/sketch/sketch/pages/sketch_031.html
  - img/art/sketch/sketch/pages/sketch_032.html
  - img/art/sketch/sketch/pages/sketch_033.html
  - img/art/sketch/sketch/pages/sketch_034.html
  - img/art/sketch/sketch/pages/sketch_035.html
  - img/art/sketch/sketch/pages/sketch_036.html
  - img/art/sketch/sketch/pages/sketch_037.html
  - img/art/sketch/sketch/pages/sketch_038.html
  - img/art/sketch/sketch/pages/sketch_039.html
  - img/art/sketch/sketch/pages/sketch_040.html
  - img/art/sketch/sketch/pages/sketch_041.html
  - img/art/sketch/sketch/pages/sketch_042.html
  - img/art/sketch/sketch/pages/sketch_043.html
  - img/art/sketch/sketch/pages/sketch_044.html
  - img/art/sketch/sketch/pages/sketch_045.html
  - img/art/sketch/sketch/pages/sketch_046.html
  - img/art/sketch/sketch/pages/sketch_047.html
  - img/art/sketch/sketch/pages/sketch_048.html
  - img/art/sketch/sketch/pages/sketch_049.html
  - img/art/sketch/sketch/pages/sketch_050.html
  - img/art/sketch/sketch/pages/sketch_051.html
  - img/art/sketch/sketch/pages/sketch_052.html
  - img/art/sketch/sketch/pages/sketch_053.html
  - img/art/sketch/sketch/pages/sketch_054.html
  - img/art/sketch/sketch/pages/sketch_055.html
  - img/art/sketch/sketch/pages/sketch_056.html
  - img/art/sketch/sketch/pages/sketch_057.html
  - img/art/sketch/sketch/pages/sketch_058.html
  - img/art/sketch/sketch/pages/sketch_059.html
  - img/art/sketch/sketch/pages/sketch_061.html
  - img/art/sketch/sketch/pages/sketch_062.html
  - img/art/sketch/sketch/pages/sketch_063.html
  - img/art/sketch/sketch/pages/sketch_064.html
  - img/art/sketch/sketch/pages/sketch_065.html
  - img/art/sketch/sketch/pages/sketch_066.html
  - portfolio.html
  - projects.html
  - work.html
change_frequency: weekly
---
<h1>Work</h1>
- if paginate && num_pages > 1 
  <p>Page #{ page_number } of #{ num_pages }</p>

  - if prev_page
    <p>#{ link_to 'Previous page', prev_page }</p>

- page_articles.each_with_index do |article, i| 
  - link_to article do 
    %section.portfolio_item{ style: "background-image: url('/images/#{article.data.title_image}')" }
      <h2>#{ article.title }</h2>
      -#
        use article.summary(250) if you have Nokogiri available to show just
        the first 250 characters

- if paginate 
  - if next_page 
    <p>#{ link_to 'Next page', next_page }</p>

