---
pageable: true
title: work
per_page: 10
blog: work
alias: 
  - portfolio.html
  - projects.html
  - work.html
change_frequency: weekly
---
%h1 Work

%ul#filter-controls
  %li
    = link_to "All", '#',     class: 'all filter-btn', 'data-filter' => 'all'
  %li
    = link_to "Print", '#',   class: 'print filter-btn', 'data-filter' => '.print'
  %li
    = link_to "Web", '#',     class: 'web filter-btn', 'data-filter' => '.web'
  %li
    = link_to "Product", '#', class: 'product filter-btn', 'data-filter' => '.product'
-#
  - form_tag '', class: 'filter-form', method: 'post' do 
    - field_set_tag do
      = label_tag :filter_view
      = button_tag "All",     class: 'all filter-btn', 'data-filter' => 'all'
      = button_tag "Print",   class: 'print filter-btn', 'data-filter' => '.print'
      = button_tag "Web",     class: 'web filter-btn', 'data-filter' => '.web'
      = button_tag "Product", class: 'product filter-btn', 'data-filter' => '.product'
#portfolio
  - if paginate && num_pages > 1 
    <p>Page #{ page_number } of #{ num_pages }</p>

    - if prev_page
      <p>#{ link_to 'Previous page', prev_page }</p>

  - page_articles.each_with_index do |article, i| 
    - link_to article, class: "p_item #{article.data.media.join(' ').downcase}", "data-order" => i do 
      %section.portfolio_item{ style: "background-image: url('/images/#{article.data.title_image}')" }
        <h2>#{ article.title }</h2>

  - if paginate 
    - if next_page 
      <p>#{ link_to 'Next page', next_page }</p>

