---
pageable: true
title: work
per_page: 10
blog: work
---
- if paginate && num_pages > 1 
  <p>Page #{ page_number } of #{ num_pages }</p>

  - if prev_page
    <p>#{ link_to 'Previous page', prev_page }</p>

- page_articles.each_with_index do |article, i| 
  - link_to article do 
    %section.portfolio_item{ style: "background-image: url('/images/#{article.data.title_image}')" }
      <h2>#{ article.title }</h2>
      -#
        use article.summary(250) if you have Nokogiri available to show just
        the first 250 characters

- if paginate 
  - if next_page 
    <p>#{ link_to 'Next page', next_page }</p>

